In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!pip install pydataset #매번 설치 필요
from pydataset import data #데이터셋 패키지
data('Housing', show_doc=True) #Housing 데이터 설명
house = data('Housing') #Housing 데이터를 house에 할당

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pydataset
  Downloading pydataset-0.2.0.tar.gz (15.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.9/15.9 MB 6.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from pydataset) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->pydataset) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas->pydataset) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->pydataset) (1.16.0)
Building wheels for collected packages: pydataset
  Building wheel for pydataset (setup.py) ... done
  Created wheel for pydataset: filename=pydataset-0.2.0-py3-none-any.whl size=15939433 sha256=8d06067b9337ada1a2dbdae3f1a95350473ac7e5dbacfd9f7fbaa5399f0c68c2
  Stored in directory: /root/.cache/pip/wheels/6b/86/a7/f71cb84c7bff804d83e293615a20c0531234397b796aee2645
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0
initiated datasets repo at: /root/.pydataset/
Housing

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Sales Prices of Houses in the City of Windsor

### Description

a cross-section from 1987

_number of observations_ : 546

_observation_ : goods

_country_ : Canada

### Usage

    data(Housing)

### Format

A dataframe containing :

price

sale price of a house

lotsize

the lot size of a property in square feet

bedrooms

number of bedrooms

bathrms

number of full bathrooms

stories

number of stories excluding basement

driveway

does the house has a driveway ?

recroom

does the house has a recreational room ?

fullbase

does the house has a full finished basement ?

gashw

does the house uses gas for hot water heating ?

airco

does the house has central air conditioning ?

garagepl

number of garage places

prefarea

is the house located in the preferred neighbourhood of the city ?

### Source

Anglin, P.M. and R. Gencay (1996) “Semiparametric estimation of a hedonic
price function”, _Journal of Applied Econometrics_, **11(6)**, 633-648.

### References

Verbeek, Marno (2004) _A guide to modern econometrics_, John Wiley and Sons,
http://www.econ.kuleuven.ac.be/GME, chapter 3.

Journal of Applied Econometrics data archive : http://jae.wiley.com/jae/.

### See Also

`Index.Source`, `Index.Economics`, `Index.Econometrics`, `Index.Observations`

In [ ]:
house.columns

Index(['price', 'lotsize', 'bedrooms', 'bathrms', 'stories', 'driveway',
       'recroom', 'fullbase', 'gashw', 'airco', 'garagepl', 'prefarea'],
      dtype='object')

In [ ]:
house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 546 entries, 1 to 546
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   price     546 non-null    float64
 1   lotsize   546 non-null    int64
 2   bedrooms  546 non-null    int64
 3   bathrms   546 non-null    int64
 4   stories   546 non-null    int64
 5   driveway  546 non-null    object
 6   recroom   546 non-null    object
 7   fullbase  546 non-null    object
 8   gashw     546 non-null    object
 9   airco     546 non-null    object
 10  garagepl  546 non-null    int64
 11  prefarea  546 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 55.5+ KB

In [ ]:
# startswith -> 텍스트 y로 시작하는 airco 칼럼의 로우들
# ~는 거짓을 의미
#.str.contains
house[house.airco.str.startswith('y')]
house[~house.airco.str.startswith('y')]

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
6,66000.0,4160,3,1,1,yes,yes,yes,no,yes,0,no
10,88500.0,5500,3,2,4,yes,yes,no,no,yes,1,no
11,90000.0,7200,3,2,1,yes,no,yes,no,yes,3,no
16,37900.0,3185,2,1,1,yes,no,no,no,yes,0,no
21,48500.0,4785,3,1,2,yes,yes,yes,no,yes,1,no
...,...,...,...,...,...,...,...,...,...,...,...,...
542,91500.0,4800,3,2,4,yes,yes,no,no,yes,0,no
543,94000.0,6000,3,2,4,yes,no,no,no,yes,0,no
544,103000.0,6000,3,2,4,yes,yes,no,no,yes,1,no
545,105000.0,6000,3,2,2,yes,yes,no,no,yes,1,no
546,105000.0,6000,3,1,2,yes,no,no,no,yes,1,no

In [ ]:
# 필터링
# query

house2 = house.query("lotsize < 3000 and airco == 'yes'") #따옴표 사용에 주의

In [ ]:
# 피벗 테이블
pd.pivot_table(house, values = "price2", index=["driveway"], columns=["airco","stories"])

airco               no                                                yes  \
stories              1             2             3        4             1
driveway
no        42041.500000  49273.333333  64000.000000      NaN  49971.428571
yes       57766.818182  64722.887324  72433.333333  89312.5  77726.595745

airco
stories              2        3              4
driveway
no        65193.750000      NaN            NaN
yes       86335.344828  90890.0  106290.666667

In [ ]:
# 계산해서 새로운 칼럼 만들기

house.assign(예상세금 = lambda house: house.price * house.bedrooms) #계산 후 새 칼럼

In [ ]:
np.r_[0, 3:6]

array([0, 3, 4, 5])

In [ ]:
# concat merge join 차이
# concat : 세로로 쌓는다
# merge : 가로로 넓힌다
# join ->  house1.join(house2, on='price', how='left',lsuffix='_house1', rsuffix='_house2') 이런식으로 기본 데이터프레임을 설정해야함

In [ ]:
house3 = house

In [ ]:
house

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
1,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
2,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
3,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
4,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
5,61000.0,6360,2,1,1,yes,no,no,no,no,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...
542,91500.0,4800,3,2,4,yes,yes,no,no,yes,0,no
543,94000.0,6000,3,2,4,yes,no,no,no,yes,0,no
544,103000.0,6000,3,2,4,yes,yes,no,no,yes,1,no
545,105000.0,6000,3,2,2,yes,yes,no,no,yes,1,no
546,105000.0,6000,3,1,2,yes,no,no,no,yes,1,no

In [ ]:
house.rename(columns={'price' : 'price2'}, inplace=True)

In [ ]:
house3

# 판다스 데이터 프레임도 copy 할때 원본 바꾸면 바뀜

,price2,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
1,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
2,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
3,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
4,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
5,61000.0,6360,2,1,1,yes,no,no,no,no,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...
542,91500.0,4800,3,2,4,yes,yes,no,no,yes,0,no
543,94000.0,6000,3,2,4,yes,no,no,no,yes,0,no
544,103000.0,6000,3,2,4,yes,yes,no,no,yes,1,no
545,105000.0,6000,3,2,2,yes,yes,no,no,yes,1,no
546,105000.0,6000,3,1,2,yes,no,no,no,yes,1,no